.products-Header {
    text-align: center;
}

.products {
    display: flex;
    flex-direction: column;
}

.product {
    text-align: center;
    border: 1px;
    padding: 0.7rem;
    margin: 0.5 rem 0;
}

.btn-container {
    display: flex;
    padding: 10px;
    justify-content: center;
    gap: 10px;
}