.products-Header {
    text-align: center;
}

.products-Container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.products-List {
    align-items: center;
}

.btn-container {
    display: flex;
    padding: 10px;
    justify-content: center;
    gap: 10px;
}