.products-Header {
    text-align: center;
}

.products-Container {
    display: flex;
    max-width: 50rem;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    flex-flow: row wrap;
}

.products-List {
    list-style: none;
    text-align: center;
}

.btn-container {
    display: flex;
    padding: 10px;
    justify-content: center;
    gap: 10px;
}