h1 {
  text-align: center;
}

.App {
  display: flex;
  justify-content: center;
}

.navBar {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.navbar-item {
  flex-basis: 20%;
  list-style-type: none;
}